<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15F34</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>SVNExternalsDocumentType</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.zennaware.cornerstone.externals-document</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>V4ExternalsDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cs2pdef</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>property-definitions.icns</string>
			<key>CFBundleTypeName</key>
			<string>Cornerstone Properties</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>compareToolSupport</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>compare-tool.icns</string>
			<key>CFBundleTypeName</key>
			<string>Cornerstone Compare Tool Support</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.zennaware.cornerstone.compare-tool-support</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Cornerstone</string>
	<key>CFBundleHelpBookFolder</key>
	<string>CornerstoneHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>Cornerstone Help</string>
	<key>CFBundleIconFile</key>
	<string>app</string>
	<key>CFBundleIdentifier</key>
	<string>com.zennaware.cornerstone3</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Cornerstone</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Cornerstone 3 Licensing Scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cornerstone3-license</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Cornerstone Subversion Repository Scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cornerstone-svnrep</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>13</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>7B1005</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>15A278</string>
	<key>DTSDKName</key>
	<string>macosx10.11</string>
	<key>DTXcode</key>
	<string>0711</string>
	<key>DTXcodeBuild</key>
	<string>7B1005</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.11</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>zennaware.com</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © Zennaware GmbH 2007-2016. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>V4MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>V4Application</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://www.zennaware.com/cornerstone/appcast/feed3.php</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Cornerstone Properties</string>
			<key>UTTypeIdentifier</key>
			<string>com.zennaware.cornerstone.properties</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>cs2pdef</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>com.apple.bundle</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Cornerstone Compare Tool Support</string>
			<key>UTTypeIconFile</key>
			<string>compare-tool.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.zennaware.cornerstone.compare-tool-support</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>compareToolSupport</string>
			</dict>
		</dict>
	</array>
	<key>V4SubversionBookURL</key>
	<string>https://www.zennaware.com/cornerstone/doc/en/svn/svn-book-1.7.pdf</string>
	<key>V4SupportEmailAddress</key>
	<string>cornerstone@zennaware.com</string>
	<key>V4VersionType</key>
	<string>final</string>
	<key>ZLicenseServerBaseURL</key>
	<string>https://www.zennaware.com/registry</string>
	<key>ZProductFAQURL</key>
	<string>https://www.zennaware.com/cornerstone/support.php#faq</string>
	<key>ZProductPageURL</key>
	<string>https://www.zennaware.com/cornerstone/</string>
	<key>ZTrialPeriodDuration</key>
	<integer>14</integer>
</dict>
</plist>
